* {
	margin: 0;
	padding: 0;
}

body, html {
	height: 100%;
	margin: 0px 0px;
}

.transition {
    -webkit-transform: scale(1.1); 
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
}

#topBtn {
	display: none;
	position: fixed;
	bottom: 20px;
	left: 94%;
	z-index: 99;
	border: none;
	outline: none;
	background-color: red;
	font-family: 'Coming Soon';
	cursor: pointer;
	padding: 15px;
	border-radius: 10px;
	font-size: 15px;
}

#linkTopBtn {
	text-decoration: none;
	color: white;
}

#topBtn:hover {
	background-color: #ed1c1c;
}

.menu {
	font-family: 'Montserrat';
	font-size: 15px;
	background-color: lightgrey;
	position: fixed;
	top: 12px;
	left: 1%;
	padding: 10px;
	border-radius: 10px;
	width: 10%;
	text-align: center;
	cursor: pointer;
	z-index: 1;
}

.menu a {
	text-decoration: none;
	color: black;
}

.dropdown-content a{
	font-family: 'Montserrat';
	font-size: 15px;
	background-color: lightgrey;
	padding: 10px;
	border-radius: 10px;
	width: 10%;
	text-align: center;
	cursor: pointer;
	position: fixed;
	left: 1%;
	text-decoration: none;
	color: black;
	z-index: 1;
}

.hideContent{
	display: none;
}

#btn1 {
	position: fixed;
	top: 65px;
	left: 1%;
}

#btn2 {
	position: fixed;
	top: 115px;
	left: 1%;
}

#btn3 {
	position: fixed;
	top: 165px;
	left: 1%;
}

#btn4 {
	position: fixed;
	top: 215px;
	left: 1%;
}

#btn5 {
	position: fixed;
	top: 265px;
	left: 1%;
}

.menu:hover {
	background-color: #e5eff9;
}

#btn1:hover {
	background-color: #e5eff9;
}

#btn2:hover {
	background-color: #e5eff9;
}

#btn3:hover {
	background-color: #e5eff9;
}

#btn4:hover {
	background-color: #e5eff9;
}

#btn5:hover {
	background-color: #e5eff9;
}

.show {
	display: block;
}

.welcome {
	background-image: url(https://lh3.googleusercontent.com/RuHQmESXmDMX2IlPdonzL3xyxF17FI5dfL4ut4Zt_JdU7onrP0DVyrSTXMGgA1Rtt3aRnEMIvm9_UdEIfi5NWSj8bZUTTQtyIBLCYyGW5Jz59Toy5c2uMbAaGzOCUJ2Nzor00F8QLbwsKovuDORJkWTZFJmcSOsYAvqbBDZU0ALMdv8R4nkC5bq61PMs92NFUXUYdHJB6BJH7ab-q1Hh1sXvXWDuR9LjpQPaLNOJDAVtzYbzEDP_Eexcu1KLpt8z5D9mHaDhBWG2UtYvry7U1QlaDS4kzgyrjq4WAFhmjgQnLnODqGiPGDd3v_Dj-uXCqSk-8eE7ZXjEMEsbMMXgaZsfbMV0I3OBqVL9tuo0gTieVkDsipqr0AUrLZ4sKt_H_I6KWLsIU3FuIEfHYviwoMwZ8uS83nhKYX7TwAckKdtCx4Uq9ey4-41qKHMfrxExdssvqk5mfaxk8WC8ifXncJOLIbrI4hsrF_kuVo-pwbIMeNbMpOXvmV4kdpZczvzM6mGpqaARHNn55yb1YvmQwtHR7GgXPuUCpnATgSiB-poD8Ze4a1OIYoVcucaic4krTPfAC4NfZmookw6xvrFKlqUTrWb0oWpgsWRaIy0=w850-h637-no);
	height: 103%;
	background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#introduction {
	position: relative;
	left: 19%;
	font-family: "Poiret One";
	color: white;
	font-size: 50px;
	top: 200px;
	width: 13%;
}

#fullname {
	position: relative;
	left: 18%;
	font-family: "Poiret One";
	color: white;
	font-size: 90px;
	top: 200px;
	width: 50%;
}

.aboutme {
	background-image: url(https://lh3.googleusercontent.com/5MKncghUmcK04PbDXo3fkGa34ZDY4Z4VcgNY5_3px_S_3-WWZvVbZnMOvNbmxbhGaIf6WkZk6cC190gzJ1P4UEpdiwJx83BW1jbfGUG1LJFEDw0TbSoHVVEImOGH63P61kanCc4aWA30ebfrX_IlKeiN-o2SpQTxSgQVYhF0yKIkh7OWibtvRrG36qeXkEO6Q1inkCmD8xTQS6MoAA4V-g2E2vblBT7FrqOUQCQjPVa4O80Ot5mIHHLvSii2K-HOjBZuV4LTmJgGNPrDlcSOebDwk9O9Yj5UDe9c134YlxbFbnks4a78ZClw23JUf9y3nPVYc4FtwV5vR3_nYsEWdHxb1hVDPkDzHF5SBxbL2uhe1hC-3FnSIUYbqTqBUDXSSvbQKhqU2UVkBJ5mV5iLhpYUrOKw0zccsQ9CDrjYua_P2CRPHhaWXzUWtgxBk2ykcvQx1DsAPdmJGXcVWLu0mF6W46V7ADcEifh1TBzwtyOi85KHqxv6G7G5r7lmeuUyourGjncJiyUz6q2Tcz4kRt1GVsmr5hrkWJMfTas0CMEaM80_hy1sBOl__xeDRF1AoAkVVgdudVdTyyDR2_K9i5FewfMMYlTrcVpvACU=w1020-h637-no);
	height: 100%;
	background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.7;
}

.whoiam h1 {
	font-family: "Coming Soon";
	color: black;
	letter-spacing: 4px;
	font-size: 30px;
	width: 28%;
	position: relative;
	left: 3%;
	top: -570px;
	background-color: aquamarine;
	padding: 21px;
	padding-left: 14%;
	padding-right: 0%;
	border-radius: 25px
}

.aboutMeContent {
	font-family: "Coming Soon";
	line-height: 400%;
	text-align: center;
	width: 37%;
}

#contentLine1 {
	position: relative;
	top: -520px;
	left: 15%;
}

#contentLine2 {
	position: relative;
	top: -470px;
	left: 15%;
}

#contentLine3 {
	position: relative;
	top: -420px;
	left: 15%;
}

.aboutMeContent p {
	font-size: 25px;
	color: black;
	background-color: azure;
	padding: 10px;
	border-radius: 25px;
}

.myGoals {
	top: 900px;
}

.myGoals hr {
	border-color: black;
}

.aspirations h1 {
	font-family: "Coming Soon";
	color: black;
	letter-spacing: 4px;
	font-size: 30px;
	width: 28%;
	position: relative;
	left: 55%;
	top: -911px;
	background-color: aquamarine;
	padding: 21px;
	padding-left: 7%;
	padding-right: 7%;
	border-radius: 25px
}

.careerGoals {
	font-family: "Coming Soon";
	line-height: 400%;
	text-align: center;
	width: 37%;
}

.careerGoals p {
	font-size: 25px;
	color: black;
	background-color: azure;
	padding: 10px;
	border-radius: 25px;
}

#careerLine1 {
	position: relative;
	top: -861px;
	left: 157%;
}

#careerLine2 {
	position: relative;
	top: -811px;
	left: 157%;
}

#careerLine3 {
	position: relative;
	top: -761px;
	left: 157%;
}

.workHistory {
	background-image: url(https://lh3.googleusercontent.com/gUM-0v_tUk1WWUpZ5js9hcpPNbJs_Hc-pv-NhY-umr4vaH0W9YuC9GPfmSegDqJPgaAATWq4FHa2UN7NK3tR_HDhaN5cOHaP36BKRei2gqGuFBgHdk5qE617z5TvEiP3AnZn-6Y2-nB9i_8ZjmK6OB3PZCvhIDlAS-Mrci1qBPPF8UHsHuGPRsw7KHtS1mAVpJnBmtLNEEGgE5ArpwcBUkUGPf0K_1gnw8A33jXpJkJNx7-SrG3djlRppikL5MgBziWEgP3gHLvpSkcVdnUjid85O_z_XtqiUjpJslpMyaG5noUG3ZqvbbRGL40qVMNZbnaTa870RDbKHyw80rXTP0beGjV6X3nBa8XwHpMb9Y-9oLzmRWLWRo_2_LL85H_HMMmiFXho1Gy3Pv92WEYHA4GWuPUJYqf2ygzoM37X0a99fdUlVbHDhVQtnS1fYrsU39Nz5NGx4ZqNhvHhlUm6PH2wvzgy2cS_7J0U3TRvGuX3cYWpA0UdaF2c5fiprzxQAoYPwTGMlVeXsZkcJl_2otqzO8LVesWiczv3JxdsTnp2UUEXRosGJMmNFsGlRF0SK90QiEymG6b8-rL-blbJwi67Z_xYG1v5yuIOd0E=w963-h637-no);
	height: 180%;
	background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    top: -685px;
}

.whatIveDone h3 {
	font-family: "Montserrat";
	font-size: 35px;
	color: white;
	position: relative;
	top: 80px;
	left: 28%;
	width: 29%;
	background-color: cornflowerblue;
	padding: 21px;
	padding-left: 7%;
	padding-right: 7%;
	border-radius: 25px
}

#lineseven {
	border-color: white;
	width: 3%;
	position: relative;
	top: 37px;
	left: 65.5%;
}

#lineeight {
	border-color: white;
	width: 3%;
	position: relative;
	top: 35px;
	left: 30%;
}

.workExperience {
	font-family: 'Montserrat';
	color: white;
}

.workExperience h3 {
	font-size: 25px;
	position: relative;
	left: 45%;
	background-color: cornflowerblue;
	padding: 3px;
	padding-left: 1%;
	padding-right: 1%;
	border-radius: 25px
}

#veriday {
	width: 11%;
	position: relative;
	top: 133px;
}

#website {
	width: 20%;
	position: relative;
	top: 208px;
}

#entsoc {
	width: 28%;
	position: relative;
	top: 344px;
}

.workExperience p {
	font-size: 13px;
	position: relative;
	left: 45%;
	background-color: yellowgreen;
	padding: 3px;
	padding-left: 1%;
	padding-right: 1%;
	border-radius: 25px
}

#veridayTitle {
	position: relative;
	top: 145px;
	width: 19%;
	-webkit-transition: all .1s ease-in-out;
    -moz-transition: all .1s ease-in-out;
    -o-transition: all .1s ease-in-out;
    -ms-transition: all .1s ease-in-out;
}

#websiteTitle {
	position: relative;
	top: 220px;
	width: 23%;
	-webkit-transition: all .1s ease-in-out;
    -moz-transition: all .1s ease-in-out;
    -o-transition: all .1s ease-in-out;
    -ms-transition: all .1s ease-in-out;
}

#entsocTitle {
	position: relative;
	top: 355px;
	width: 14%;
	-webkit-transition: all .1s ease-in-out;
    -moz-transition: all .1s ease-in-out;
    -o-transition: all .1s ease-in-out;
    -ms-transition: all .1s ease-in-out;
}

#veridayPic {
	border-radius: 25px;
	position: relative;
	top: -450px;
	left: 28%;
	-webkit-transition: all .1s ease-in-out;
    -moz-transition: all .1s ease-in-out;
    -o-transition: all .1s ease-in-out;
    -ms-transition: all .1s ease-in-out;
}

#websitePic {
	border-radius: 25px;
	position: relative;
	top: -160px;
	left: 12.9%;
	-webkit-transition: all .1s ease-in-out;
    -moz-transition: all .1s ease-in-out;
    -o-transition: all .1s ease-in-out;
    -ms-transition: all .1s ease-in-out;
}

#entsocPic {
	border-radius: 25px;
	position: relative;
	top: 130px;
	left: -2.2%;
	-webkit-transition: all .1s ease-in-out;
    -moz-transition: all .1s ease-in-out;
    -o-transition: all .1s ease-in-out;
    -ms-transition: all .1s ease-in-out;
}

#veridayDescription {
	width: 24%;
	position: relative;
	top: 160px;
	left: 45%;
	background-color: gray;
	line-height: 30px;
}

#websiteDescription {
	width: 24%;
	position: relative;
	top: 235px;
	left: 45%;
	background-color: gray;
	line-height: 30px;	
}

#entsocDescription {
	width: 24%;
	position: relative;
	top: 370px;
	left: 45%;
	background-color: gray;
	line-height: 30px;	
}

.skillset h2 {
	font-family: "Montserrat";
	color: black;
	letter-spacing: 10px;
	font-size: 30px;
	width: 18%;
	position: relative;
	left: 41.35%;
	top: -580px;
}

#skillSet {
	-webkit-transition: all .1s ease-in-out;
    -moz-transition: all .1s ease-in-out;
    -o-transition: all .1s ease-in-out;
    -ms-transition: all .1s ease-in-out;
}

#linefive {
	position: relative;
	width: 280px;
	top: -640px;
	left: 39.4%;
	border-color: black;
}

#linesix {
	position: relative;
	width: 280px;
	top: -560px;
	left: 39.4%;
	border-color: black;
}

#mySkills {
	font-family: "Montserrat";
	font-size: 20px;
	letter-spacing: 2px;
	position: relative;
	top: -530px;
	width: 31%;
	left: 35.5%;
}

.theSkills p{
	font-family: "Montserrat";
	font-size: 30px;
	letter-spacing: 4px;
	position: relative;
}

#skill1 {
	top: -496px;
	left: 15%;
	width: 10%;
}

#skill2 {
	top: -533px;
	left: 35%;
	width: 7%;
}

#skill3 {
	top: -570px;
	left: 52%;
	width: 15%;
}

#skill4 {
	top: -607px;
	left: 77%;
	width: 10%;
}

.skillPictures img {
	position: relative;
	-webkit-transition: all .1s ease-in-out;
    -moz-transition: all .1s ease-in-out;
    -o-transition: all .1s ease-in-out;
    -ms-transition: all .1s ease-in-out;
}

#HTML5 {
	top: -585px;
	left: 12.2%;
}

#CSS3 {
	top: -585px;
	left: 17.5%;
}

#JavaScript {
	top: -582px;
	left: 24.5%;
}

#jQuery {
	top: -635px;
	left: 29.5%;
}

.ballFrisbeeGym {
	background-image: url(https://lh3.googleusercontent.com/xjDPQHqRKO_aGFsSLMWs5Vm8JdtIewrq_-sDaw35Q2_Wwj5a_R9JjIEREsLhE1syNgB1ZUMK45LdANUlXF9Y17_MYpPQ1UUyM4yhVwf2PKC6558JRwD3FqzXja5vgfpHDLdQt8mOX2UdwXszdhIJXTPztSy4eXTjQeTc0WDs2Pl_t1v-QmcdzD-Z7rpuw8mLsnZA4L54BKutDuBuNNru2gFTIIs7H21eRvDxG9xBMVJCl5WBl4SCedExhefPm1TJyXqzvhYJ6Dms4WmkDI7dxPVWhFnYLbfxzlsuQcm-TRZNUVxXcl3UHAzhF0f5dx-6XsrZGKN1nVL7hFAX93BsCUM1N_ms99ygpSsiJD-SEmSoyvvG8OeWNBYx5nxVhvjsrn_37A1HhiWjvE1EKJzT91OXA9O1Nsb1ANIojeTcpkUBZncOfpXWoZokx1InQnMukR0y-NLyKXNyDIU91z9kaRMXPmFG6ILYCBXQY64P11NcuGp4nNhzjmdUpjGnE614pmxlXenF4VqCkkeZxjKEsML_SMjEuHIk2-wOI-HGkKpV39QBHKGcPVz21axoWeWSKMgeHXu76XPWOda4Od0f6P2vujrYo2ckclXTApA=w922-h588-no);
	height: 150%;
	background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    top: -500px;
}

.recTitle h4 {
	font-family:'Bowlby One SC';
	font-size: 56px;
	position: relative;
	left: 0.5%;
	top: 100px;
	color: white;
	width: 98%;
	padding: 2px;
	background-color: black;
	padding-left: 10px;
	border-radius: 10px;
}

#centerLine {
	border-color: white;
	width: 0px;
	position: relative;
	border-width: 10px;
	top: 450px;
	left: 49.2%;
}

#firstLine {
	border-color: white;
	width: 0px;
	position: relative;
	border-width: 10px;
	top: 430px;
	left: 24.6%;
}

#secondLine {
	border-color: white;
	width: 0px;
	position: relative;
	border-width: 10px;
	top: 410px;
	left: 73.7%;
}

#beginLine {
	border-color: white;
	width: 0px;
	position: relative;
	border-width: 10px;
	top: 390px;
	left: 0.2%;
}

#endLine {
	border-color: white;
	width: 0px;
	position: relative;
	border-width: 10px;
	top: 370px;
	left: 98.2%;
}

#soccer {
	position: relative;
	top: 30px;
	left: 2%;
	border-radius: 10px;
	-webkit-transition: all .1s ease-in-out;
    -moz-transition: all .1s ease-in-out;
    -o-transition: all .1s ease-in-out;
    -ms-transition: all .1s ease-in-out;
}

#frisbee10 {
	position: relative;
	top: 30px;
	left: 4%;
	border-radius: 10px;
	-webkit-transition: all .1s ease-in-out;
    -moz-transition: all .1s ease-in-out;
    -o-transition: all .1s ease-in-out;
    -ms-transition: all .1s ease-in-out;
}

#frisbee12 {
	position: relative;
	top: 30px;
	left: 6%;
	border-radius: 10px;
	-webkit-transition: all .1s ease-in-out;
    -moz-transition: all .1s ease-in-out;
    -o-transition: all .1s ease-in-out;
    -ms-transition: all .1s ease-in-out;
}

#frisbeeUproar {
	position: relative;
	top: 30px;
	left: 8%;
	border-radius: 10px;
	-webkit-transition: all .1s ease-in-out;
    -moz-transition: all .1s ease-in-out;
    -o-transition: all .1s ease-in-out;
    -ms-transition: all .1s ease-in-out;
}

.contact {
	height: 35%;
	position: relative;
	top: -280px;
}

.contactMe {
	font-family: 'Comfortaa';
}

.contactMe p {
	font-size: 20px;
}

#employmentSearch {
	position: relative;
	top: -160px;
	left: 32%;
	width: 38%;
}

#employmentDescription {
	position: relative;
	top: -135px;
	left: 41%;
	width: 20%;
}

.contactMe h3 {
	position: relative;
	top: -110px;
	left: 23%;
	font-size: 25px;
	width: 57%;
}

.contactPics img {
	position: relative;
	margin: 0;
}

#gmail {
	left: 45%;
	top: -85px;
}

#linkedin {
	left: 18%;
	top: -85px;
}

#piazza {
	left: 37%;
	top: -85px;
	border-radius: 10px;
}